
#adLibsToolbar {
    padding-right: 0;
 
}

#adLibsToolbar .btn-
#adLibsToolbar button {
    width: 100px;
    float: right;
}

#EditorContent {
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    width: 100%;
}



